.map_lpz { 
    height: 100vh; 
    width: 100vw; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .map_lpz {
        width: 100%;
        height: 100%;
    }
}

.info { 
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.polygon-label {
    background: none;
    border: none;
    box-shadow: none;
    /* font-weight: bold; */
    opacity: 0.7;
    font-size: 10px;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.legend-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    width: calc(50% - 5px); /* Adjust based on your preference */
}

.legend-item i {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.legend-item span {
    white-space: nowrap;
}